<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>test</title>
    <!-- vue.js -->
    <script src="https://unpkg.com/vue"></script>
 
    <!--element ui -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.0.0/theme-chalk/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.0.0/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.0.0/locale/ja.js"></script>
</head>
<body>

<div class="block">
    <div class="rating_star_demo">
        <el-rate v-model="rate_value" :max=3 :texts="['記憶にある', 'メモなど2次情報にある', 'チケット券面など1次情報にある']" show-text></el-rate>
        <el-button v-on:click="hide_show_toggle" type="primary" size="mini" round icon="el-icon-edit" native-type="button" ></el-button>
        <el-input v-show="show_memo" v-model="memo_area" suffix-icon="el-icon-edit" type="textarea" autosize size="mini" placeholder="メモ"></el-input>
    </div>
</div>

<script>
    ELEMENT.locale(ELEMENT.lang.ja)
    new Vue({
        el: '.rating_star_demo',
        data: {
            rate_value: null,         // データなし
            memo_area: null,          // データなし
            show_memo: 0              // 非表示スタート
        },
        methods: {
            hide_show_toggle: function (event) {
                // メソッド内の `this` は、 Vue インスタンスを参照します
                this.show_memo = this.show_memo ? false : true;
                console.info("rate:"+ this.rate_value);
                console.info("memo:" + this.memo_area);
            }
        }        
    });
</script>
</body>
</html>